<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        nav {
            margin: 15px 0;
            
            a{
                text-decoration: none;
                padding: 10px;
                background-color: lemonchiffon;
                border: 1px solid goldenrod;
            }
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/games">Games</a>
    </nav>
    <section class="hero">
        <h1>{{ title }}</h1>
        <ul>
            {% for game in games %}
                <li> {{ game }} </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>