<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/movies">movies</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1> Movies! </h1>
        </section>

        <section>
            <h2> Site Movies </h2>
            <ul>
                {% for movie in movies %}
                <li>
                    {{movie.title}}
                    <a href="/movie_details?movie={{movie.title}}"> see details </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>