<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/movies">movies</a>
                    <ul>
                        <li>
                            <a href="/search">search</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section> 
            <h1> Filter Movies </h1>

            <p>
                <a href="/search"> All Genres </a>
                |
                <a href="/search?genre=Sci-Fi"> Sci-Fi </a>
                |
                <a href="/search?genre=Animation"> Animation </a>
                |
                <a href="/search?genre=Drama"> Drama </a>
                |
                <a href="/search?genre=Thriller"> Thriller </a>
            </p>
        </section>

        <section>
            <h2> {{genre}} </h2>
            <ul>
                {% for movie in movies %}
                <li>
                    <a href="/movie_details?movie={{movie.title}}">
                        {{movie.title}} ({{movie.year}})
                    </a>
                    {% if genre == "All Movies" %}
                    | Genre: {{movie.genre}}
                    {% endif %}
                </li>
                {% endfor %}

                {% if not movies %}
                There are no movies with the {{genre}} genre
                {% endif %}
            </ul>
        </section>
    </main>
</body>
</html>